---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Sektrion1 from "../components/Sektrion1.astro";
import Sektrion2 from "../components/Sekrion2.astro";
import Sektion3 from "../components/Sektion3.astro";
import Galleri from "../components/Galleri.astro";
import Header from "../components/Header.astro"
---
<MainLayout title="Titel">


	<img class="justify-center flex items-center mx-56 my-56" src="../../public/font.svg" alt="">
<!-- hero unit -->
<div id="sektion1">
	<Sektrion1/> </div>

	<div id="sektion2">
	<Sektrion2/></div>
	<div id="sektion3">
	<Sektion3/>
</div>
<div id="gallery">
	<Galleri/></div>
</MainLayout>