
<h4 class="text-2xl font-barlow flex justify-center items-center text-pink-950">Gallery</h4>

<div class="grid grid-cols-2 space-b mx-24 gap-12 mb-24">
    <img src="/3ddd.svg" alt="">
    <img src="/3ddd2.svg" alt="">
    <img class="w-[20rem] justify-self-center" src="/can.png" alt="">
    <img src="/font.svg" alt="">
</div>