---
---

<nav class="flex flex-row justify-between mx-12">
    <img class="w-1/12" src="/font.svg" alt="">
    <div class="flex flex-row space-x-12 ">
        <a href="#sektion1">Sektion 1</a>
<a href="#sektion2">Sektion 2</a>
   <a href="#sektion3">Sektion 3
   </a>
   <a href="#gallery">Gallery</a>
   </div>
</nav>
 