---
---

<nav class="flex flex-row justify-between">
    <img class="w-1/12" src="/font.svg" alt="">
    <div class="flex flex-row space-x-6 ">
    <p>Sektion 1</p>
    <p>Sektion 2</p>
    <p>Sektion 3</p></div>
</nav>
 