---
---

<nav class="flex flex-row justify-between mx-12 my-12 font-barlow">
    <img class="w-1/12" src="/font.svg" alt="">
    <div class="flex flex-row space-x-12 text-pink-950 text-xl">
        <a href="#sektion1">Traditional sketches</a>
<a href="#sektion2">Digital sketches</a>
   <a href="#sektion3">Vector
   </a>
   <a href="#gallery">Gallery</a>
   </div>
</nav>
 