<div class="flex flex-row justify-center items-center">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quisquam, pariatur, eligendi, at amet earum odio sapiente itaque laudantium quaerat blanditiis! Minus iusto unde provident aliquid soluta atque harum vel.</p>
    <img src="../../public/font.svg" alt="">
</div>