<div class="flex flex-row justify-center items-center mx-24 space-x-32">
    <div>
    <h2 class="font-barlow text-2xl mb-4 text-pink-950">Digital sketches</h2>

    <p class="font-jost text-[#B7466E]">Now that I had drawn the letters making out the word ‘STYLE’ I scanned my sketches and began mapping them out in Clip Studio Paint. Here I played with different ways to accessories the font. By copying the original font it gave me the possibility to compare the different designed fonts. </p>
    </div>
    <img class="w-[25rem] rounded-2xl" src="/sketch.png" alt="">
</div>