---
const { title } = Astro.props;
---


<h1 class="text-white justify-center items-center flex">The start of the journey</h1>

<div class="flex flex-row justify-center items-center mx-24 space-x-20">
    <img class="w-11/12" src="../../public/font.svg" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, blanditiis corporis! Eius atque fuga nulla at corrupti culpa, ad quis maiores soluta molestias deleniti perspiciatis voluptates officiis repellat tenetur nostrum.</p>
</div>
