<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eos iusto nostrum enim excepturi laborum rerum amet cum iure tempore, officiis, numquam earum. Quisquam nihil doloremque, nisi possimus unde voluptatem.</p>
    <img src="../../public/font.svg" alt="">
</div>