<div class="flex flex-row justify-center items-center mx-24 space-x-20">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, eos iusto nostrum enim excepturi laborum rerum amet cum iure tempore, officiis, numquam earum. Quisquam nihil doloremque, nisi possimus unde voluptatem.</p>
    <img class="w-11/12" src="../../public/font.svg" alt="">
</div>