---
const { title } = Astro.props;
---



<div class="flex flex-row justify-center items-center mx-24 space-x-20">
    <img class="w-[10rem] rounded-2xl" src="/img1.jpg" alt="">
    <img class="w-[10rem] rounded-2xl" src="/img2.jpg" alt="">
    <div>
    <h1 class="font-barlow text-2xl mb-4 text-pink-950">Traditional sketches</h1>
    <p class="font-jost text-[#B7466E]">I started by browsing pinterest for idea. I knew I wanted to make a thick font. I was very inspired by the 2000 and wanted the font to represent the era Y2K. 
        When I started my traditionel sketches I wanted to name the font ‘STYLE’ since fashion was a big thing during the 2000. 
        After playing around with different kind of shadows and letters I decided I wanted to give the font some accessories, like the stars and halo. </p>
</div>
</div>
